<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.user.mapper.RoleMapper">
    <select id="getRolesByUserId" parameterType="java.lang.String" resultType="org.example.user.entity.Role">
        SELECT r.*
        FROM role r
             LEFT JOIN user_role_relation urr ON r.id = urr.user_id
        WHERE urr.user_id = #{userId}
    </select>
</mapper>