<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.user.mapper.UserMapper">
    <select id="getUserList" parameterType="org.example.user.api.UserQueryPage" resultType="org.example.user.entity.User">
        SELECT *
        FROM user
        <where>
            <if test="queryPage.username != null and queryPage.username != ''">
                username LIKE CONCAT('%', #{queryPage.username}, '%')
            </if>
        </where>
    </select>
</mapper>